@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to ✨Hey Taxi</h1>
</div>
<img class="bg-image" src="https://media.istockphoto.com/id/519870714/photo/taxi.jpg?s=612x612&w=0&k=20&c=mzlqm5eisvu-B7hCyOK3LAsR4ugFTsHtC2kMWUmbA0Y=" width="1100" height="500" />
  
