@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<!-- Section: Design Block -->
<br>
<br>
  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex">
            <img src="https://media.istockphoto.com/id/1357069721/vector/online-taxi-booking-travel-service-flat-design-illustration-via-mobile-app-on-smartphone.jpg?s=1024x1024&w=is&k=20&c=evBxWQgzCS-Zx8D90RqfzN_cXFoJtFFyDOET_aOmSqc="
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">
         <h1>Login</h1>

          <form method="post">
            <!-- Email input -->
            <div class="form-outline mb-4">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
            </div>
                    <div class="d-grid mt-4">
                        <button class="btn btn-success">Log In</button>
                    </div>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
