@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body" style="background-color:white;border-radius: 25px;">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h3 fw-bold ">Register Here</p>

                                <form method="post">
                                    <div>
                                        <label asp-for="FirstName"></label>
                                        <input asp-for="FirstName" class="form-control" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>

                                    <div>
                                        <label asp-for="LastName"></label>
                                        <input asp-for="LastName" class="form-control" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>

                                    <div>
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Roles"></label>
                                        <select asp-for="Roles" asp-items="@Html.GetEnumSelectList<Roles>()" class="form-control">
                                            <option>--- Select a Role ---</option>
                                        </select>
                                        <span asp-validation-for="Roles" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label asp-for="Password"></label>
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <div>
                                        <label asp-for="ConfirmPassword"></label>
                                        <input asp-for="ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>

                                    <div class="d-grid mt-4">
                                        <button class="btn btn-success">Register</button>
                                    </div>

                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://bosctechlabs.com/wp-content/uploads/2021/10/cab-booking.png"
                                     class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

